extends layout

block content
    .ui.container
        .ui.basic.center.aligned.segment
            h1 MovieNews
            //- p(style="display: inline-block; margin-top:150px;") Show me news for &nbsp;&nbsp;&nbsp;
            //- .ui.icon.input
            //-     input(type='text' placeholder='Search...' style="display: inline-block; margin-top:150px;")
            //-     i.search.icon(style="margin-top:75px;")
            p Search for a movie via the url, choose the correct movie from the given list, read news about the top three cast!
            h3 Routes:
            h4 /search
            p
                | Search follows '/search?query=movie%20name' where the movie name is url encoded. 
                | This shows a list of movies matching that search according to 
                a(href="https://www.themoviedb.org/?language=en-US" style="text-decoration: underline;") The Movie Database
                | . There you can choose the correct movie and you will be redirected to the /news route.
            h4 /news
            p
                | News follows '/news?id=movie_id' where the movie id is according to The Movie Database.
                | This is generated for you when you choose a movie from the search page. The news is collected from 
                a(href="https://newsapi.org/" style="text-decoration: underline;") the News API
                | . You can read the full article by clicking it.