doctype html
html
    head
        title MovieNews
        link(rel='stylesheet', href='https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.4.1/semantic.min.css')
        link(rel='stylesheet', href='/stylesheets/style.css')
    body
        .ui.borderless.main.menu
            .ui.container
                a.header.item(href='/')
                    p MovieNews
                a(style={float:'right'}).header.item(href='/')
                    p Docs
        block content