doctype html
html
    head
        title MovieNews
        link(rel='stylesheet', href='https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.4.1/semantic.min.css', type='text/css')
        link(rel="stylesheet", href="/static/style.css")
    body
        .ui.borderless.main.menu
            .ui.container
                a.header.item(href='/')
                    p MovieNews
                a.header.item(href='/' style={float:'right'})
                    p Docs
        block content